## Python List
- Python List falls under the compound data types i.e. they are composed of one or more basic data types.
- It means, A List is a sequence collection of different objects such as integers, strings, and even other lists as well.
- Python Lists are represented with square brackets.
  - Example: `["item1", 2, "item3", 4.0]`
- Unlike array, List can store data of multiple data types like string, integer, float, etc.
- Python Lists are also an ordered sequences.
  - It means the items have a defined order, and that order will not change.
  - If you add new items to a list, the new items will be placed at the end of the list.

- Unlike Strings, Lists are mutable meaning, we can change, add, and remove items in a list after  it is created.

- Similar to Strings, we can perform loop through items in a list.

- In this lecture we'll cover:
  - Creating Lists
  - Indexing Lists
  - Slicing Lists
  - Lists are mutable
  - List methods
  - Join Lists
  - Loop Lists
  - List Comprehension
  - List exercise

### 1. Creating Lists
- To create a list, type the list items within square brackets **[]**, separated by commas.
- Example: ["item1", 2, 'item3', 4]

- List can be categorized into 2 types:
  1. simple list:
    - Example: [1, 2, 3, 4]
  2. Nested list: 
    - They list within list.
    - Also called as 2D list.
    - Example: [[1, 2], [3, 4]]

In [4]:
# create simple list with mixed data types
l1 = [2, 4.8, True, False, "List"]

In [5]:
# display type 
print(l1)

[2, 4.8, True, False, 'List']

In [6]:
# display length of list
print(len(l1))

5

In [7]:
# create nested list
l2 = [True, ['ram', 'radhe'], [1, 4, 6], 4]

In [8]:
# display type of nested list
print(l2)

[True, ['ram', 'radhe'], [1, 4, 6], 4]

In [9]:
# display length of nested list
print(len(l2))

4

**List creation from Strings**
- use .split() method

In [10]:
# Initialize any non-empty string
#
# split string to create list
new_str = "Kathmandu metropolitain city"
new_list = new_str.split()
print(new_list, type(new_list))

['Kathmandu', 'metropolitain', 'city'] <class 'list'>

###2. Indexing Lists
- Indexing works similar to that of Strings.
- As we know, list is a sequenced collection of different objects such as Strings, Integer, etc.
- The address of each element within a list is called an index.
- An index is used to access and refer to items within a list.

  <img src='https://drive.google.com/uc?id=1SB5gGtnvQp3Fx0gG9YruM4VgmAe-HDQc' width='400'>

**positive indexing**

In [11]:
# initialize simple list of length 5
new_list = ['radhe', 34, True, 'champa', 5]

In [12]:
# print 1st item using positive index
new_list[0]

'radhe'

In [13]:
# print 3rd item using positive index
new_list[2]

True

In [14]:
# print last item using positive index
new_list[len(new_list)-1]

5

`Now lets try to index nested list`

In [15]:
# initialize nested list of length 5
nested_list = [['radhe','hari'], ['kathmandu', 'bhaktapur'],[34, 23], [True, False], [3.4, 6.7]]

In [16]:
# practice indexing 
print(nested_list[0][1]) # to extract 'hari'
print(nested_list[1][0])

hari
kathmandu

**negative indexing**

In [17]:
# reinitialize simple list of length 5
new_list = ['radhe', 34, True, 'champa', 5]

In [18]:
# print 1st item using negative index
new_list[-len(new_list)]

'radhe'

In [19]:
# print 3rd item using negative index
new_list[-len(new_list)+2]

True

In [20]:
# print last item using negative index
new_list[-len(new_list) + len(new_list)-1]

5

### 3. Slicing Lists
- Slicing Lists means extracting part of list items.
- Concepts of Slicing Lists is similar to Slicing Strings.
- `Syntax: list[start:end:step]`

  <img src='https://drive.google.com/uc?id=1j7BjHU8MmE0LFv1Qls9F-4h3NheDoLAD' width='500'>

**case 1: when step is positive**

In [21]:
# initialize simple list (refer to above example)
new_list = ['radhe', 34, True, 'champa', 5]

In [22]:
# slice first 3 items using positive index
new_list[:3]

['radhe', 34, True]

In [23]:
# slice last 3 items using negative index
new_list[-3:]

[True, 'champa', 5]

In [24]:
# get list item at even index
# e.g. ['S', 'r', 'n', ' ', 'n', 'e', i]
new_str = "String indexing"
new_list = [ new_str[item] for item in range(0,len(new_str), 2)]
new_list

['S', 'r', 'n', ' ', 'n', 'e', 'i', 'g']

**case 2: when step is negative**

In [25]:
# slice first 3 list items using positive index
new_list[:3:]

['S', 'r', 'n']

In [26]:
# slice last 3 list items using negative index
new_list[-6:-len(new_list)-1:-1]

['n', 'r', 'S']

In [27]:
# reverse list
# output: ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']
new_str = "String indexing"
new_list = [ new_str[item] for item in range(0,len(new_str))]
new_list[::-1]

['g', 'n', 'i', 'x', 'e', 'd', 'n', 'i', ' ', 'g', 'n', 'i', 'r', 't', 'S']

###4. Lists are mutable
- Unlike Strings, Lists are mutable
- It means we can change list items after its creation.

In [28]:
# verify lists are mutable
mutable_list = ['hi', 'i', 'am', 'mutable']
print(mutable_list)

['hi', 'i', 'am', 'mutable']

In [29]:
# change first item 'hi' to 'hello'
mutable_list[0] = 'hello'
# mutable_list.insert(2, 'you')
mutable_list

['hello', 'i', 'am', 'mutable']

Assigning new value, we didn't got error. We can say Lists are mutable.

###5. List Methods
- Most common Lists methods are:
  - `append()`: Methods to add an item to the end of the list.
  - `insert()`: Methods to add an item to list at a specified index.
  - `extend()`: Methods to append elements from another list to the current list
  - `remove()`: Methods to remove the specified item using item name.
  - `pop()`: Methods to remove the list item using index. By Default pop takes up the last index.
  - `reverse()`: Methods to reverse list.
  - `sort()`: Methods to sort the string either in ascending order or descending order.

In [30]:
# Create a new list

list1 = [1, 2, 3, 4]

In [31]:
# add new item to the end of a list
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [32]:
# add new item at index 1 using insert()
list1.insert(1, 'hello')
print(list1)

[1, 'hello', 2, 3, 4, 5]

`If we run insert() methods multiple times, then item will be added at specified index and length of list will grow accordingly.`

In [33]:
# Given two list i.e. list1 and list2
# extend list1 with item from list 2
list2 = ["redhe", 'hari']
list1.extend(list2)
print(list1)

[1, 'hello', 2, 3, 4, 5, 'redhe', 'hari']

In [34]:
# remove specific item from list
list1.remove('redhe')
list1

[1, 'hello', 2, 3, 4, 5, 'hari']

In [35]:
# remove item at index 1 of list
list1.pop(3)
print(list1)

[1, 'hello', 2, 4, 5, 'hari']

In [36]:
# remove last item from list
list1.pop()
print(list1)

[1, 'hello', 2, 4, 5]

In [37]:
# reverse list
list1.reverse()
list1

[5, 4, 2, 'hello', 1]

In [38]:
# sort list in ascending order
list1.remove('hello')
list1

[5, 4, 2, 1]

In [39]:
list1.insert(1, 4)
list1

[5, 4, 4, 2, 1]

In [40]:
list1.sort()

In [41]:
list1

[1, 2, 4, 4, 5]

In [42]:
# sort list in descending order

In [43]:
list1.sort(reverse=True) # reverse sorting item
list1

[5, 4, 4, 2, 1]

### 6. Join Lists
- Given list, how can we join the list items?
- Technique to convert list to string.
- `Example:`
  - input_list = ['hello', 'world']
  - ouput_list = "hello world"

- **syntax:** `result = separator.join(<list>)

  where, separator is the string that will be used to separate the elements in the resulting string.

In [44]:
# create new list
input_list = ['Kathmandu', 'Metropolitain']

In [45]:
# join list by space to form new string
# Hint: " ".join(<list>)
output = " ".join(input_list)
output

'Kathmandu Metropolitain'

### 7. Loop Lists

- Similar to Strings, you can also loop through list items using a **for** loop.

`Q. Initialize List and print list items one by one using for loop.`

In [46]:
# create list
new_list = ['radhe','hari', 'champa', 'jane', 'john']
# loop through list items
for item in new_list:
    print(item)

radhe
hari
champa
jane
john

In [47]:
# loop through list items using enumerate()
for index, item in enumerate(new_list):
    print(f'Index = {index}, Item = {item}')

Index = 0, Item = radhe
Index = 1, Item = hari
Index = 2, Item = champa
Index = 3, Item = jane
Index = 4, Item = john

We will experiment other ways of looping using **range()** function and **while** loop in Loop Chapter.

In [48]:
for i in range(len(new_list)):
    print(new_list[i])

radhe
hari
champa
jane
john

### 8. List Comprehension
- List comprehension offers the shortest syntax for looping through lists.
- Syntax: **newlist = [expression for item in iterable if condition == True]**


`Q.1 Write a python program to lowercase item in given list using list comprehension.`
  - Input: sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
  - Output: lower_list = ["apple", "mango", "banana", "grapes"]

`Q.2 Given list of fruits i.e. fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list named fruit_list removing item which is not fruit. Example = coffee.`

`Q.3 `

In [49]:
## write your program (for Q1)
sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
lower_list = [item.lower() for item in sample_list]
lower_list

['apple', 'mango', 'banana', 'grapes']

In [50]:
## write your program (for Q2)
fruit_list = ["apple", "mango", "banana", "grapes", "coffee"]
new_fruit_list = [item  for item in fruit_list if item != "coffee"]
new_fruit_list

['apple', 'mango', 'banana', 'grapes']

In [51]:
fruit_list = ['apple', 'mango', 'banana', 'grapes']
fruit_item = ["apple", "mango", "banana", "grapes", "coffee"]
new_fruit_list = [item for item in fruit_item if item in fruit_list]
new_fruit_list

['apple', 'mango', 'banana', 'grapes']

### 9. List exercise

**Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.**

  `sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']`  
  `output: banana, 6`  

**Q.2 Write a python program to sum all the items in a list.**

  `sample_list: [1, 2, 3, 4, 5]`
  `output: sum = 15`


**Q.3 Write a python program to get the largest number from a list.**

  `sample_list: [10, 20, 30, 100, 40]`  
  `output: largest number = 100`


**Q.4 Write a python program to get the smallest number from a list.**

  `sample_list: [-1, 0, 1, 2]`
  `output: smallest number = -1`

**Q.5 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.**

  `Input: sample_list = ['abc', 'xyz', 'aba', '1221']`  
  `output: str_count = 2`

**Q.6 Write a python program to check a list is empty or not.**

**Q.7 Write a python program to insert a given string at the beginning of all items in a list.**

  `sample_list = [1, 2, 3, 4]`  
  `str_to_inser = "emp"`  
  `output_list = ['emp1', 'emp2', 'emp3', 'emp4']`

In [7]:
# **Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.**

#   `sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']`  
#   `output: banana, 6`

fruit_list = ['mango', 'banana','kiwi', 'apple', 'grapes']
longest_word = max(fruit_list, key=len)
length_of_longest_word = len(longest_word)

for word in fruit_list:
    if len(word) == length_of_longest_word:
        print(word, length_of_longest_word)

banana 6
grapes 6

In [1]:
# **Q.2 Write a python program to sum all the items in a list.**

#   `sample_list: [1, 2, 3, 4, 5]`
#   `output: sum = 15`
def sum_item(list):
    return sum(list)

sample_list = [10, 27, 25, 14, 81]
output_sum = sum_item(list=sample_list)
print(output_sum)

157

In [2]:
# **Q.3 Write a python program to get the largest number from a list.**

#   `sample_list: [10, 20, 30, 100, 40]`  
#   `output: largest number = 100`

sample_list = [2, 6, 7, 1, 8 ,10]
output = max(sample_list)
print(output)

10

In [3]:
# **Q.4 Write a python program to get the smallest number from a list.**

#   `sample_list: [-1, 0, 1, 2]`
#   `output: smallest number = -1`

sample_list = [-5, -6, 5, 1, 10]
output = min(sample_list)
print(output)

-6

In [4]:
# **Q.5 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.**

#   `Input: sample_list = ['abc', 'xyz', 'aba', '1221']`  
#   `output: str_count = 2`

sample_list = ['ab', 'aba', '', 'abab', 'saas', 'ata', 'b','aA']
str_count = 0
for item in sample_list:
    item = item.lower()
    if len(item) < 2:
        continue
    if item[0] == item[len(item)-1]:
        str_count += 1
print(str_count)

4

In [5]:
# **Q.6 Write a python program to check a list is empty or not.**
list1 = ['radhe', 'champa', 'jane',' john','amisha']
if len(list1) == 0:
    print("The given list is an empty.")
else:
    print("The given list is not empty.")

The given list is not empty.

In [10]:
# **Q.7 Write a python program to insert a given string at the beginning of all items in a list.**

#   `sample_list = [1, 2, 3, 4]`  
#   `str_to_inser = "emp"`  
#   `output_list = ['emp1', 'emp2', 'emp3', 'emp4']`

series = [10, 11, 12, 13, 14, 15]
model_to_inser = "iphone"
output_list = [f'{model_to_inser}{item}' for item in series]
print(output_list)

['iphone10', 'iphone11', 'iphone12', 'iphone13', 'iphone14', 'iphone15']

In [12]:
def main():
    # Initialize a non-empty list of words
    words = ['apple', 'banana', 'orange', 'grape', 'kiwi']

    # Find the longest word and its length
    longest_word = max(words, key=len)
    longest_word_length = len(longest_word)

    # Display the longest word and its length
    print("Longest word(s):")
    for word in words:
        if len(word) == longest_word_length:
            print(word)
    print("Length of longest word(s):", longest_word_length)

if __name__ == "__main__":
    main()

Longest word(s):
banana
orange
Length of longest word(s): 6