In [4]:
import sqlite3

In [5]:
connection = sqlite3.connect("student.db")

In [6]:
cursor = connection.cursor()

# To create table

In [7]:
query = """
create table std
(
    Id int,
    stdName varchar(50),
    stdRollNO int,
    stdAddress varchar(50)
)
"""

# to execute create query

In [8]:
cursor.execute(query)

# query to insert data

In [9]:
query = """
insert into std
(id , stdName, stdRollNO, stdAddress)
values
(1, 'Naresh dhimal', 23, 'bhaktapur'),
(2, 'Rajendra niroula', 5 , 'bhaktapur'),
(3, 'Raju mahato', 7, 'kathmandu')
"""

In [10]:
cursor.execute(query)

# to read inserted data

In [11]:
cursor.execute("select * from std").fetchall()

[(1, 'Naresh dhimal', 23, 'bhaktapur'),
 (2, 'Rajendra niroula', 5, 'bhaktapur'),
 (3, 'Raju mahato', 7, 'kathmandu')]

# to update data

In [14]:
query = """
update std
set stdAddress = 'lalitpur'
where id = 3
"""

In [15]:
# to execute update query
cursor.execute(query)

In [16]:
# to read update data
cursor.execute("select * from std").fetchall()

[(1, 'Naresh dhimal', 23, 'bhaktapur'),
 (2, 'Rajendra niroula', 5, 'bhaktapur'),
 (3, 'Raju mahato', 7, 'lalitpur')]

In [17]:
# to watch individual updated value
cursor.execute("select stdAddress from std where id = 3").fetchall()

[('lalitpur',)]

# to delete data

In [18]:
query = """
delete from std
where id = 2
"""

In [19]:
# to execute delete query
cursor.execute(query)

In [20]:
# to read data after deleting data
cursor.execute("select * from std").fetchall()

[(1, 'Naresh dhimal', 23, 'bhaktapur'), (3, 'Raju mahato', 7, 'lalitpur')]