# Pattern

In [13]:
print(" " * 5 + "*" + " " * 5)
print(" " * 4 + "*" + " " + "*" + " " * 4 )
print(" " * 3 + "*" + " " * 3 + "*" + " " * 3 )
print(" " * 2 + "*" + " " * 5+ "*" + " " * 2)
print("*  *  *  *  *")
# print(" " * 3 + "*" + " " * 5 + "*" + " " *  )

     *
    * *
   *   *
  *     *
*  *  *  *  *

# Python calculator(Arithmetic operator)

In [16]:
def operation(a,b):
    oper = input("Enter a operation('+','-','*','/'):")
    if oper == '+':
        print("Addition operation:")
        total_sum = a + b
        return total_sum
    if oper == '-':
        print("Substraction operation:")
        diff = a - b
        return diff
    if oper == '*':
        print("Multiplication operation:")
        mul = a * b
        return mul
    if oper == '/':
        print("Division operation:")
        div = a / b
        return div
    else:
        print("Invalid operation.")

In [ ]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))
result = operation(a=num1, b=num2)
print(result)

Enter a first number:12

# Logical Operator

In [1]:
x = 5
print(x > 3 and x < 10)

True

In [2]:
print(x > 3 or x < 4)

True

In [4]:
print(not(x > 3 and x < 10))

False

# Identity Operatory

In [6]:
x = 5
y = 10

In [7]:
x is y

False

In [8]:
x is not y

True

In [9]:
x = 5

In [10]:
y = x

In [11]:
x is y

True

In [13]:
x is not y

False

In [14]:
2 ** 3 ** 2

512

# Experiment below python expressions in interactive mode.

In [19]:
(5 + 3) * 2 - 4 // 2

14

In [17]:
3 ** 2 * 4 + 5 // 2

38

In [18]:
10 / (2 + 3) * (8 - 4)

8.0

# Python variable

In [20]:
first_variable = 10
first_variable

10

In [21]:
var_name = "student_name"
var_name

'student_name'

In [22]:
@variable = "student_name" # wrong way to declare variable name

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3116227284.py, line 1)

# Naming convention

In [23]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not