In [1]:
import pandas as pd

In [9]:
list_column = ['Gender', "Age",'Weight',"Height"]

In [13]:
list_data = [("Male", "E", 70, 7.8 ),("Female","A",80,7.9),("Male","A",55,6.1),("Male","C",60,5.3),("Female","A",33,5.2)]

In [14]:
df = pd.DataFrame(list_data, columns =list_column )

In [15]:
df

   Gender Age  Weight  Height
0    Male   E      70     7.8
1  Female   A      80     7.9
2    Male   A      55     6.1
3    Male   C      60     5.3
4  Female   A      33     5.2

# here, gender and age are categorical data where weigth and height are numerical data

In [ ]:
data = 
H0 = 
H1 =
test =