# Data type
* integer
* Float
* Complex
* boolean
* string
* list
* tuple
* set
* dictionary
Here, list , tuple, set and dictionary are the built-in datatype of python

In [ ]:
# setting the integer type
int_type = 10

In [ ]:
print(f"Data type of {int_type} is {type(int_type)} ")

Data type of 10 is <class 'int'>

In [ ]:
# setting the float type
float_type = 10.1
print(f'Data type of {float_type} is {type(float_type)}')

Data type of 10.1 is <class 'float'>

In [ ]:
# setting the complex type
complex_type = 1 + 2j
print(type(complex_type))

<class 'complex'>

In [ ]:
# setting the boolean type
boolean = True
print(type(boolean))

<class 'bool'>

In [ ]:
# setting the string type
s1 = "hello world"
type(s1)

str

# Tpye Casting/ Type conversion
* Implicit Type Casting
* Explicit Type Casting