# Tuple DataType

In [1]:
# create empty tuple
new_tuple = ('champa', 12, True, 'radhe')

In [2]:
# display tuple
new_tuple

('champa', 12, True, 'radhe')

In [3]:
# display type of data
type(new_tuple)

tuple

In [4]:
# diisplay length of tuple
tuple_len = len(new_tuple)
tuple_len

4

In [6]:
# create nested tuple
nested_tuple = (('champa', 'radhe'),(True,False), (24, 19), (3.2, 5.8))

In [7]:
# display nested tuple
nested_tuple

(('champa', 'radhe'), (True, False), (24, 19), (3.2, 5.8))

In [8]:
# display type
type(nested_tuple)

tuple

In [10]:
# display length of nested tuple
tuple_len = len(nested_tuple)
print(tuple_len)

4

**Tuples creation from Strings**  

.split()  
typecast

In [13]:
# write your code here
new_str = input("Enter a string: ")
# split string (separator = whitespace)
new_list = new_str.split(" ")
# converting list into tuple
new_tuple = tuple(new_list)
# displaying converted list
print(new_tuple)

Enter a string:  i am naresh dhimal

('i', 'am', 'naresh', 'dhimal')

In [14]:
type(new_tuple)

tuple

###2. Indexing Tuples
- Indexing works similar to that of Lists.
- As we know, tuple is a sequenced collection of different objects such as Strings, Integer, etc.
- The address of each element within a tuple is called an index.
- An index is used to access and refer to items within a tuple.

  <img src='https://drive.google.com/uc?id=1SB5gGtnvQp3Fx0gG9YruM4VgmAe-HDQc' width='450'>

In [16]:
# initialize simple tuple of length 5
new_tuple = ( 'radhe', 23, 15, 'jane',True)
new_tuple

('radhe', 23, 15, 'jane', True)

In [17]:
# print 1st item using positive index
new_tuple[0]

'radhe'

In [18]:
# print last item using positive index
new_tuple[len(new_tuple)-1]

True

In [19]:
# print 1st item using negative index 
new_tuple[-len(new_tuple)]

'radhe'

In [20]:
# print last item using negative index
new_tuple[-1]

True

### 3. Slicing Tuples
- Slicing Tuples means extracting part of list items.
- Concepts of Slicing Tuples is similar to Slicing Lists.
- `Syntax: tuple[start:end:step]`

In [21]:
# initialize simple Tuples
new_tuple = ( 'radhe', 23, 15, 'jane',True)
print(new_tuple)

('radhe', 23, 15, 'jane', True)

In [22]:
new_tuple[:3]

('radhe', 23, 15)

In [23]:
# slice last 3 items using negative index
new_tuple[-3:]

(15, 'jane', True)

In [24]:
# get tuple items at even index
new_tuple[::2]

('radhe', 15, True)

In [25]:
# slice first 3 tuple items using positive index(negative step)
new_tuple[2::-1]

(15, 23, 'radhe')

In [26]:
# slice last 3 tuple items using negative index(negative step)
new_tuple[-1:-4:-1]

(True, 'jane', 15)

In [27]:
# reverse tuple
new_tuple[::-1]

(True, 'jane', 15, 23, 'radhe')

###4. Tuple are immutable
- Unlike Lists, Tuples are mutable
- It means we can't change tuple items after its creation.

In [29]:
# verify tuples are immutable
new_tuple = ( 'radhe', 23, 15, 'jane',True)

new_tuple[0] = 'shyam'

TypeError: 'tuple' object does not support item assignment

# so, tuple is immutable

### 5. Tuples Methods
- `count():` returns number of times a specified value occures in a tuple
- `index():` returns index of specified value in tuple

In [30]:
# initialize tuple 
tuple_method = (1, 2, 3, 4, 5, 2, 3, 2, 3, 3, 2 )

In [31]:
# count number of occurence of item "2"
tuple_method.count(2)

4

In [33]:
# get index of first item "4"
tuple_method.index(4)

3

**How to add item in Tuple?**
- Tuples are immutable.
- They do not have `append()` methods like list. 
- Is there any way to add items to Tuple, once it is created?


`Approach 1:`
- Input Tuple
- Typecast Tuple to List
- Append item to List
- Typecast List back to Tuple

In [34]:
# Write your program here for approach 2
new_tuple = ( 'radhe', 23, 15, 'jane',True)

# typecast to list
list_from_tuple = list(new_tuple)

# append item to list
list_from_tuple.append("champa")

# typecast back to Tuple
new_tuple = tuple(list_from_tuple)

print(new_tuple)

('radhe', 23, 15, 'jane', True, 'champa')

`Approach 2:`
- Input Tuple.
- Create Tuple with value to be added to main Tuple
- Concatenate Tuple using + operator.

_**Addition of Tuples to Tuples are allowed**_

In [37]:
# write your program for approach 2
new_tuple = ( 'radhe', 23, 15, 'jane',True)

# define tuple to add 
add_tuple = ('champa',)

new_tuple = new_tuple + add_tuple

print(new_tuple)

('radhe', 23, 15, 'jane', True, 'champa')

### Unpack Tuples
- Tuples creation process discussed till now, also means "packing" a tuple.
  - Example: sample_tuple = ('python', 'is', 'awesome')

- Unpacking Tuples means extracting values back into variables.
  - Example: `first_item, secon_item, third_item = sample_tuple`

In [2]:
# create tuples of length 4
# unpack tuples items to 4 other variables

new_tuple = ("kathmandu", 34, "champa", 44)
item1, item2, item3, item4 = new_tuple

print(f"Item1 = {item1}")
print(f"Item2 = {item2}")
print(f"Item3 = {item3}")
print(f"Item4 = {item4}")

Item1 = kathmandu
Item2 = 34
Item3 = champa
Item4 = 44

`Unpack Tuples using Asterik *`
- Useful, if number of variables is less than the number of items in tuples

In [7]:
# Unpack Tuples values using 3 variables
new_tuple = ("kathmandu", 34, "champa", 44)
item1, *item2 , item3 = new_tuple

print(item1)
print(item2)
print(item3)

kathmandu
[34, 'champa']
44

### 9. Loop Tuples
- Similar to List, you can loop through Tuples items using a `for` loop.

`Q. Initialize Tuples and loop through Tuples items one by one.`

In [9]:
new_tuple = ("India", "China", "Nepal", "Japan", "USA")
for item in new_tuple:
    print(item)

India
China
Nepal
Japan
USA

`Q. Use enumerate() function to loop through Tupes to get index and values.`

In [12]:
new_tuple = ("India", "China", "Nepal", "Japan", "USA")
for index, value in enumerate(new_tuple):
    print(f"Index = {index} and Item = {value}")

Index = 0 and Item = India
Index = 1 and Item = China
Index = 2 and Item = Nepal
Index = 3 and Item = Japan
Index = 4 and Item = USA

**Like List, is there a Tuple comprehension?**  
`There is no Tuple comprehension like List. But we can use tuple() function to accomplish Tuple Comprehension`


`Q.1 Write a python program to lowercase item in given Tuples using Tuple comprehension.`
  - Input: sample_tuple = ("APPLE", "Mango", "BaNaNa", "GRapes")
  - Output: lower_tuple = ("apple", "mango", "banana", "grapes")

In [15]:
# creating new tuple
new_tuple = ("InDia", "ChiNa", "NePal", "JaPan", "USA")
# list comprehension
new_list = [item.lower() for item in new_tuple]
# type casting
lower_tuple = tuple(new_list)
print(lower_tuple)

('india', 'china', 'nepal', 'japan', 'usa')