# Set Datatype

## 1. Creating Sets
- To create a Set, type the set items within curly brackets **{ }**, separated by commas.
- Example: {"item1", 2, 'item3', 4}

In [2]:
# create empty set
new_set = set()
type(new_set)

set

In [4]:
# create simple set with mixed data types
new_set = {'radhe', 'champa', 2, 4}

In [5]:
type(new_set)

set

In [6]:
# display length of set
len(new_set)

4

## 2. Sets Methods/Operations.
- Most common set methods/operations are:
  - `add(): ` Method to add a new element to a set.
  - `remove():` Method to remove item from a set.
  - `pop(): ` Method to remove item from a set and returns removed item
  - `union(): ` Method that return a set containing union of sets..
  - `intersection(): ` Method that return a set that is intersection of 2 other sets.
  - `difference(): ` Method that return a set containing difference between two or more sets.

# .add()

In [7]:
# inialize set
new_set = {'radhe', 'champa', 2, 4}
new_set

{2, 4, 'champa', 'radhe'}

In [8]:
# add item "awesome"
new_set.add("awesome")
new_set

{2, 4, 'awesome', 'champa', 'radhe'}

# .remove()

In [16]:
# remove item "awesome" from set
new_set.remove("awesome")
new_set

KeyError: 'awesome'

# .discard()

In [17]:
new_set.discard("awesome")

# .pop()

In [11]:
# remove item "awesome" from set
removed_item = new_set.pop()
removed_item

2

# .union()

In [12]:
## create two sets
set1 = {'radhe', 2, 4, 5, 'champa'}
set2 = {'champa', 5, 7, 8, 9}

print(set1)
print(set2)

{2, 4, 5, 'champa', 'radhe'}
{'champa', 5, 7, 8, 9}

In [13]:
# union of set using union() method
set_union = set1.union(set2)

In [15]:
print(f'Union of {set1} and {set2} is {set_union}.')

Union of {2, 4, 5, 'champa', 'radhe'} and {'champa', 5, 7, 8, 9} is {2, 4, 5, 'champa', 7, 8, 9, 'radhe'}.

In [19]:
# union of set using (|) operator
set_union_pip = set1|set2
set_union_pip

{2, 4, 5, 7, 8, 9, 'champa', 'radhe'}

# .intersection()

In [20]:
# intersection of set using intersection() method
set1 = {'radhe', 2, 4, 5, 'champa'}
set2 = {'champa', 5, 7, 8, 9}
print(set1)
print(set2)

{2, 4, 5, 'champa', 'radhe'}
{'champa', 5, 7, 8, 9}

In [21]:
common_item = set1.intersection(set2)
common_item

{5, 'champa'}

In [22]:
# intersection of set using (&) operator
set_intersect = set1 & set2
set_intersect

{5, 'champa'}

# .differnce()

In [23]:
# difference of set using difference() method
set1 = {'radhe', 2, 4, 5, 'champa'}
set2 = {'champa', 5, 7, 8, 9}
set_diff = set1.difference(set2)

In [24]:
set_diff

{2, 4, 'radhe'}

In [26]:
# difference of set using (-) operator
set_minus = set1 - set2
set_minus

{2, 4, 'radhe'}

# Sets are Mutable

In [27]:
# Given Set, verify Sets are mutable
new_set = {'radhe',2, 5, 'champa'}
new_set.add('amisha')
new_set

{2, 5, 'amisha', 'champa', 'radhe'}

# Loop Sets

In [29]:
# `Q. Initialize Set and print set items one by one using for loop.` write a program
new_set = {2, 5, 'amisha', 'champa', 'radhe'}

In [30]:
for item in new_set:
    print(item)

2
5
champa
amisha
radhe

# Set Comprehesion

In [32]:
# `Q. Given List = ['item1', 1, 2, 'item4'], create Set using list items using Set comprehension.`
list =  [2, 5, 'amisha', 'champa', 'radhe']
new_set = {item for item in list}

In [33]:
new_set

{2, 5, 'amisha', 'champa', 'radhe'}

**Q. Write a python program to sort Set items in ascending order.**

`Hint: sorted(<iterable>, reverse=False`

In [4]:
%%time
num_set = {2, 1, 5, 3, 9, 4, 7}
list_num = [item for item in num_set]
sorted_num = sorted(list_num)
print(set(sorted_num))

{1, 2, 3, 4, 5, 7, 9}
CPU times: total: 0 ns
Wall time: 0 ns

In [5]:
%%time
num_set = {2, 1, 5, 3, 9, 4, 7}
set(sorted(num_set, reverse=False))

CPU times: total: 0 ns
Wall time: 0 ns

{1, 2, 3, 4, 5, 7, 9}

In [6]:
import random

In [8]:
num_set = {random.randint(1, 10)}
list_num = [item for item in num_set]
sorted_num = sorted(list_num)
print(set(sorted_num))

{4}